# ==================================================
# Ignorar tudo por padrão
# ==================================================
*
!.gitignore

# ==================================================
# Repermitir diretórios base
# ==================================================
!data/
!mods/
!modules/

# ==================================================
# Repermitir tudo dentro dessas pastas
# ==================================================
!data/**
!mods/**
!modules/**

# ==================================================
# Repermitir arquivos específicos na raiz
# ==================================================
!init.lua
!license.txt
!binaries.json